html, body {
	width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#at-plus-container {

}

#at-plus-container {
	width: 800px;
	height: 100%;
	margin: auto;
	position: relative;
}

#bottom-positioner {
	position: absolute;
  bottom: 100px;
	width: 100%;
}

#button {
	position: relative;
	width: 60px;
	height: 60px;
	margin: auto;
	margin-bottom: 70px; 
}

#button ul {
  list-style: none;
	padding: 0px;
	opacity: inherit;
}

#button .apb{
	position: absolute;
	top: 17px;
	left: 17px;
  width: 26px;
	height: 26px;
	transition: 0.4s all linear 1s;
}

#button:hover .apb{
	transform: scale(1.8);
	transition: 0.4s all linear;
}

/*this is for icon*/
#button .apb .icon {
	background: url("../assets/images/atplus_white.png") no-repeat;
	background-color: #9aa0da;
	background-size: 80%, 80%;
	background-position: center, center;
	margin: auto;
	border-radius: 50% 50% 50% 50%;
	width: 100%;
	height: 100%;
	transition: 0.4s all linear 0.5s;
}

#button:hover .apb .icon {
	background: url("../assets/images/atplus_green.png") no-repeat;
	background-color: rgba(48, 63, 159, 1);
	background-size: 80%, 80%;
	background-position: center, center;
	margin: auto;
	width: 100%;
	height: 100%;
	transition: 0.4s all linear;
}

/*this is for info bar all*/
#info-bar {
	position: absolute;
	top: 17px;
	left: 17px;
  width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #7E7E7E;
	opacity: 0;
	transition: 0.4s all linear;
}

#button:hover #info-bar {
	position: absolute;
  transform: translate(-65px, -170px);
  width: 150px;
	height: 150px;
	opacity: 1;
	transition: 0.4s all linear 0.5s;
}

/*this is for single info bar message*/
#info-bar ul {
	list-style: none;
	padding: 0px;
	opacity: inherit;
	transform: scale(0.1);
	transition: 0.4s all linear;
}

#button:hover #info-bar ul {
	list-style: none;
	padding: 0px;
	opacity: inherit;
	transform: scale(1);
  transition: 0.4s all linear 0.5s;
}

#info-bar li.page {
  width: 100%;
	font-weight: bold;
  margin-top: 5px;
  text-align: center;
  color: white;
	opacity: inherit;
}

#button:hover #info-bar li.page.comment {
	font-size: 28px;
}

#info-bar li.mine {
	width: 50%;
	display: inline-block;
	font-weight: bold;
  margin-top: 5px;
  text-align: center;
  color: green;
	opacity: inherit;
}

#info-bar li.page {
  width: 100%;
	font-weight: bold;
  margin-top: 5px;
  text-align: center;
  color: white;
	opacity: inherit;
}

/*for info bar message hover*/
#button:hover #info-bar li.page.comment {
	font-size: 28px;
}

#button:hover #info-bar li.mine {
	width: 50%;
	display: inline-block;
	font-weight: bold;
  margin-top: 5px;
  text-align: center;
  color: green;
	opacity: inherit;
}

#info-bar img {
	margin-right: 6px; 
}

/*this is for control ring all*/
#control-ring-container {
  opacity: 0;
	position: relative;
	transition: 0.4s all linear;
}

#button:hover #control-ring-container {
	opacity: 1;
	transition: 0.4s all linear 0.5s;
}



/*this is for single control ring*/
#control-ring{
	position: relative;
	display: block;
	border-radius: 50%;
}

#control-ring .button {
	left: 30px;
	top: 30px;
	width: 0px;
	height: 0px;
	border-radius: 50%;
}

#button:hover #control-ring .button {
	width: 30px;
	height: 30px;
}

/******************mask***********************/
#control-ring .mask {
	position: absolute;
	background: url('../assets/images/nomask.png') center no-repeat;
	background-color: #7E7E7E;
	background-size: 60%;
	transition: 0.4s all linear;
}

#button:hover #control-ring .mask {
	position: absolute;
	left: -60px;
	top: -15px;
	transition: 0.4s all linear 0.5s;
}

/******************history***********************/
#control-ring .history {
	position: absolute;
	background: url('../assets/images/history.png') center no-repeat;
	background-color: #7E7E7E;
	background-size: 60%;
	transition: 0.4s all linear;
}

#button:hover #control-ring .history {
	position: absolute;
  left: -70px;
	top: 25px;
	transition: 0.4s all linear 0.5s;
}

/******************message***********************/
#control-ring .message {
	position: absolute;
	background: url('../assets/images/message.png') center no-repeat;
	background-color: #7E7E7E;
	background-size: 60%;
	transition: 0.4s all linear;
}

#button:hover #control-ring .message {
	position: absolute;
  left: -60px;
	top: 65px;
	transition: 0.4s all linear 0.5s;
}

/******************setting***********************/
#control-ring .setting {
	position: absolute;
	background: url('../assets/images/setting.png') center no-repeat;
	background-color: #7E7E7E;
	background-size: 60%;
	transition: 0.4s all linear;
}

#button:hover #control-ring .setting {
	position: absolute;
  left: -15px;
	top: 90px;
	transition: 0.4s all linear 0.5s;
}

/******************sign***********************/
#control-ring .sign {
	position: absolute;
	background: url('../assets/images/signin.png') center no-repeat;
	background-color: #7E7E7E;
	background-size: 60%;
	transition: 0.4s all linear;
}

#button:hover #control-ring .sign {
	position: absolute;
  left: 30px;
	top: 90px;
	transition: 0.4s all linear 0.5s;
}

/****************unread*********************/
#control-ring .message .unread {
	position: absolute;
	top:-10px;
	left: 0px;
	color: white;
	display: block;
	text-align: center;
	background-color: #ff0000;
	border-radius: 50%;
	width: 0px;
	height: 0px;
	font-size: 0px;
	transition: inherit;
	opacity: inherit;
}


#button:hover #control-ring .message .unread {
	position: absolute;
	top: -5px;
	left: 20px;
	color: white;
	display: block;
	text-align: center;
	background-color: #ff0000;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	font-size: 11px;
	transition: inherit;
}



